<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title></title>
	<script src="https://kit.fontawesome.com/a076d05399.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<table border="1">
	<tr>
		<th>Product Name</th>
		<th>Quantity</th>
	</tr>
	<tr><td>Rice</td><td>
		<table><th><button><i class="fa fa-minus"></i></button></th>
    <td>1</td>
    <th><button><i class="fa fa-plus"></i></button></th></table>
	</td></tr>
	
</table>
</body>
</html>