<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Lab Request</title>
		<script type="text/javascript">
var citiesByState = {
Andhra Pradesh: ["Anantapur","Chittoor","East Godavari","Guntur","Kadapa","Krishna","Kurnool","Prakasam","Nellore","Srikakulam","Visakhapatnam","Vizianagaram","West Godavari"],
Karnataka: ["Bagalkot","Bangalore Rural","Bangalore Urban","Belgaum","Bellary","Bidar","Vijayapura","Chamarajanagar","Chikkaballapur","Chikkamagaluru","Chitradurga","Dakshina Kannada","Davanagere","Dharwad","Gadag","Gulbarga","Hassan","Haveri","Kodagu","Kolar","Koppal","Mandya","Mysore","Raichur","Ramanagara","Shimoga","Tumkur","Udupi","Uttara Kannada","Yadgir"],
TamilNadu: ["Ariyalur","Chennai","Coimbatore","Cuddalore","Dharmapuri","Dindigul","Erode","Kanchipuram","Kanyakumari","Karur","Krishnagiri","Madurai","Nagapattinam","Namakkal","Nilgiris","Perambalur","Pudukkottai","Ramanathapuram","Salem","Sivaganga","Thanjavur","Theni","Thoothukudi","Tiruchirappalli","Tirunelveli","Tiruppur","Tiruvallur","Tiruvannamalai","Tiruvarur","Vellore","Viluppuram","Virudhunagar"],
Telangana:["Adilabad","Bhadradri Kothagudem","Hyderabad","Jagtial","Jangaon","Jayashankar","Jogulamba","Kamareddy","Karimnagar","Khammam","Komaram Bheem","Mahabubabad","Mahbubnagar","Mancherial","Medak","Medchal","Nagarkurnool","Nalgonda","Nirmal","Nizamabad","Peddapalli","Rajanna Sircilla","Ranga Reddy","Sangareddy","Siddipet","Suryapet","Vikarabad","Wanaparthy","Warangal Rural","Warangal Urban","Yadadri Bhuvanagiri"],
}
function makeSubmenu(value) {
if(value.length==0) document.getElementById("citySelect").innerHTML = "<option></option>";
else {
var citiesOptions = "";
for(cityId in citiesByState[value]) {
citiesOptions+="<option>"+citiesByState[value][cityId]+"</option>";
}
document.getElementById("citySelect").innerHTML = citiesOptions;
}
}
function displaySelected() { var country = document.getElementById("countrySelect").value;
var city = document.getElementById("citySelect").value;
alert(country+"\n"+city);
}
function resetSelection() {
document.getElementById("countrySelect").selectedIndex = 0;
document.getElementById("citySelect").selectedIndex = 0;
}
</script>
</head>
<body>
	<center>
<form method="post">
	Name:<input type="text" name="username" placeholder="Username"><br><br><br>
	<input type="radio" name="gender" value="male">Male
	<input type="radio" name="gender" value="female">Female<br><br><br>
	Date of Birth:<input type="date" name="dob"><br><br><br>
	Phone:<input type="number" name="phone" maxlength="10"><br><br><br>
	Address:<textarea rows="3" cols="30"></textarea><br><br><br>
	<select id="countrySelect" size="1" onchange="makeSubmenu(this.value)" name="state">
<option value="" disabled selected>Choose State</option>
<option>Andhra Pradesh</option>
<option>Karnataka</option>
<option>TamilNadu</option>
    <option>Telangana</option>
</select><br><br><br>
District: <input type="text" class="form-control" name="dist"><br><br><br>Pincode:<input type="number" name="pincode" maxlength="6"><br><br><br>
Type of Test:<select name="test">
	<option>Covid Test</option>
	<option>Diabetes Test</option>
	<option>Blood Test</option>
	<option>BP Checking</option>
	<option>Thyroid Test</option>
</select>
</form>
</center>
</body>
</html>